.problem{
  text-align:center;
  padding: 5px;
}

.problemSection{
  margin-bottom: 10%;
}

.answer{
  text-align: center;
  display: none;
}


div.button
{
  margin-top:50px;
  display: flex;
  justify-content: center;

}

input{
  text-align: center;
}